body {
    font-family: "Calibri";
}

#submit-btn {
    background-color: rgb(111, 167, 231);
    color: white;
    padding: 10px;
    border: 0px solid white;
    padding-left: 12px;
    padding-right: 12px;
}

#productInput {
    color:grey;
}

.textInput {
    padding: 9px;
    border: 1px dashed rgb(128, 128, 128);
    margin-right: 10px;
}

#priceInput {
    width: 50px;
    color: red;
    text-align: center;
}

#alertWarning {
    color: red;
    margin-left: 5px;
    font-size: 15px;
}

table {
    border-collapse: collapse;
}

tr.spaceAbove>td {
    padding-top: 1.5em;
  }

td {
    padding-left: 20px;
}

.totalLine {
    border-bottom: 2px solid grey;
}

.totalPrice {
    padding-left: 70px;
    text-align: center;
   
}

a {
    color: rgb(150, 202, 219);
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: none;
}